p{
	font-size: 20px;
	color:indianred;
	padding: 10px left;
	border: 2px dotted palegoldenrod;

}
a:link {
	text-decoration:none;
	background-color: transparent;
	color: skyblue;
}
a:hover {
	text-decoration: none;
	background-color: palegoldenrod;
	color: white;
}